<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="daoBean" class="com.tnt.model.TntDAO" />

	<bean id="tntService" class="com.tnt.model.TntService">
		<property name="dao">
			<ref bean="daoBean" />
		</property>
	</bean>

</beans>